Repository freshwebio/compendium: changes, and which Codecov flags are due for each by the changed paths.
All: portal, api

Further codecov corrections
  .circleci/config.yml
  codecov.yml
Due: none

Added tests for loading config
  api/.vscode/settings.json
  api/pkg/core/__test_resources/apydox-api.test.conf
  api/pkg/core/config.go
  api/pkg/core/config_test.go
  api/pkg/core/services.go
  codecov.yml
Due: api

Started work on new shared ui component package, focusing on typography
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/.gitignore
  packages/ui/.prettierrc
  packages/ui/.storybook/addons.ts
  packages/ui/.storybook/apydoxTheme.ts
  packages/ui/.storybook/config.tsx
  packages/ui/.storybook/preview-head.html
  packages/ui/.storybook/webpack.config.js
  packages/ui/.vscode/settings.json
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/setupTests.ts
  packages/ui/src/components/atoms/AccordionItem/AccordionItem.stories.tsx
  packages/ui/src/components/atoms/AccordionItem/AccordionItem.test.tsx
  packages/ui/src/components/atoms/AccordionItem/AccordionItem.tsx
  packages/ui/src/components/atoms/AccordionItem/accordionItem.styled.ts
  packages/ui/src/components/atoms/AccordionItem/index.tsx
  packages/ui/src/typography/DynamicComponent.test.tsx
  packages/ui/src/typography/DynamicComponent.ts
  packages/ui/src/typography/Typography.stories.tsx
  packages/ui/src/typography/Typography.test.tsx
  packages/ui/src/typography/Typography.tsx
  packages/ui/src/typography/__snapshots__/DynamicComponent.test.tsx.snap
  packages/ui/src/typography/__snapshots__/Typography.test.tsx.snap
  packages/ui/src/typography/index.tsx
  packages/ui/src/ui/globalStyle.ts
  packages/ui/src/ui/themes/apydoxDefault.ts
  packages/ui/src/ui/themes/types.ts
  packages/ui/src/utils/touchTextSystem.test.tsx
  packages/ui/src/utils/touchTextSystem.ts
  packages/ui/test-utils/createWithTheme.tsx
  packages/ui/test-utils/delay.ts
  packages/ui/test-utils/testhook.tsx
  packages/ui/tsconfig.base.json
  packages/ui/tsconfig.dist.json
  packages/ui/tsconfig.json
  packages/ui/typings/jest-styled-components/index.d.ts
  packages/ui/yarn.lock
Due: none

Moved local environment specific scripts into scripts/local
  scripts/local/__apydox_local_certs/INFO.md
  scripts/local/__apydox_local_certs/apydox.crt
  scripts/local/__apydox_local_certs/apydox.key
  scripts/local/setup-local-hosts.sh
Due: none

Work on the ui library
  .circleci/config.yml
  codecov.yml
  packages/ui/.eslintrc.js
  packages/ui/.npmignore
  packages/ui/.vscode/settings.json
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/src/components/atoms/AccordionItem/AccordionItem.tsx
  packages/ui/src/components/atoms/AccordionItem/accordionItem.styled.ts
  packages/ui/src/components/atoms/AccordionItem/index.tsx
  packages/ui/src/components/atoms/ResourceAccordionItem/ResourceAccordionItem.test.tsx
  packages/ui/src/components/atoms/ResourceAccordionItem/ResourceAccordionItem.tsx
  packages/ui/src/components/atoms/ResourceAccordionItem/index.tsx
  packages/ui/src/components/atoms/ResourceInfoBar/ResourceInfoBar.stories.tsx
  packages/ui/src/components/atoms/ResourceInfoBar/ResourceInfoBar.test.tsx
  packages/ui/src/components/atoms/ResourceInfoBar/ResourceInfoBar.tsx
  packages/ui/src/components/atoms/ResourceInfoBar/colourScheme.ts
  packages/ui/src/components/atoms/ResourceInfoBar/index.tsx
  packages/ui/src/components/atoms/ResourceInfoBar/resourceInfoBar.styled.ts
  packages/ui/src/components/organisms/ResourceAccordion/ResourceAccordion.test.tsx
  packages/ui/src/components/organisms/ResourceAccordion/ResourceAccordion.tsx
  packages/ui/src/components/organisms/ResourceAccordion/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/typography/DynamicComponent.ts
  packages/ui/src/typography/Typography.stories.tsx
  packages/ui/src/typography/Typography.test.tsx
  packages/ui/src/typography/Typography.tsx
  packages/ui/src/ui/globalStyle.ts
  packages/ui/src/ui/themes/apydoxDefault.ts
  packages/ui/src/ui/themes/types.ts
  packages/ui/typings/jest-styled-components/index.d.ts
  packages/ui/yarn.lock
  portal/craco.config.js
  portal/tsconfig.paths.json
Due: none

Fixed vulnerable dependencies
  portal/package-lock.json
  portal/package.json
Due: none

Corrected types for persisted state and exposed initial state for each reducer
  portal/src/redux/reducers/editor.ts
  portal/src/redux/reducers/entities.ts
  portal/src/redux/reducers/global.ts
  portal/src/redux/reducers/index.ts
  portal/src/redux/store.ts
  portal/src/services/stateStorage.ts
Due: portal

Fix for side menu overlapping API documentation content for smaller screen/browser widths
  portal/src/pages/ServiceView/serviceView.styles.ts
Due: portal

Dependency clean up
  portal/package-lock.json
  portal/package.json
Due: none

Moved __mocks__ into src to work with latest react-scripts and fixed broken tests
  portal/__mocks__/swagger-editor.ts
  portal/package.json
  portal/src/App.test.tsx
  portal/src/__mocks__/swagger-editor.ts
  portal/src/pages/Editor/ConnectedEditor.test.tsx
  portal/src/pages/Editor/Editor.test.tsx
  portal/src/pages/LoginCallback/LoginCallback.test.tsx
  portal/src/redux/middleware/persistenceAndRedirection.test.ts
  portal/src/services/__mocks__/auth.ts
  portal/src/services/__mocks__/github.ts
  portal/src/services/__mocks__/stateStorage.ts
  portal/src/services/github.test.ts
Due: portal

Sorting out dependencies and switching back to yarn
  portal/package-lock.json
  portal/package.json
  portal/yarn.lock
Due: none

Reverted broken version of swagger-ui-react dependency
  portal/package.json
  portal/yarn.lock
Due: none

Work on more responsive styling in the header and replacing full logo with icon
  portal/src/App.test.tsx
  portal/src/assets/logo.svg
  portal/src/components/ApiDefGroup/ApiDefGroup.test.tsx
  portal/src/components/ApiDefGroup/ConnectedApiDefGroup.test.tsx
  portal/src/components/ApiDefList/ApiDefList.test.tsx
  portal/src/components/CommitPanel/commitPanel.styles.ts
  portal/src/components/Header/Header.tsx
  portal/src/components/Header/header.styles.tsx
  portal/src/components/ViewModeSwitcher/ViewModeSwitcher.tsx
  portal/src/components/ViewModeSwitcher/viewModeSwitcher.styles.ts
  portal/src/logo.svg
  portal/src/styles/themes/apydoxv1.ts
Due: portal

Added logo to README
  portal/README.md
Due: none

Added logo to root README
  README.md
Due: none

Updated to align with Github in a more secure approach in keeping access tokens out of the URL, includes interface changes for the API
  api/aws-sam-template.yaml
  api/go.mod
  api/go.sum
  api/pkg/auth/controller.go
  api/pkg/auth/controller_test.go
  api/pkg/auth/helpers.go
  api/pkg/auth/routes.go
  api/pkg/auth/service.go
  api/pkg/auth/service_test.go
  api/pkg/serverless/handlers.go
  api/pkg/serverless/handlers_test.go
  api/pkg/utils/requests.go
  api/pkg/utils/responses.go
  api/pkg/utils/responses_test.go
  portal/src/services/auth.test.ts
  portal/src/services/auth.ts
Due: portal, api

Started work on group management with ability to edit a group name and delete a group
  portal/src/components/ApiDefGroup/ApiDefGroup.tsx
  portal/src/components/ApiDefGroup/apiDefGroup.styles.ts
Due: portal

Ignoring eslint cache
  portal/.gitignore
Due: none

Added fix for latest swagger UI with the newly required prop and temporarily ignoring automated audits
  .circleci/config.yml
  portal/package.json
  portal/src/pages/ServiceView/ServiceView.tsx
  portal/yarn.lock
Due: portal

Added project eslint config to CRACO for consistency
  portal/craco.config.js
  portal/package.json
  portal/yarn.lock
Due: none

Set up portal for docker build that takes mounted configuration at runtime
  .circleci/config.yml
  api/Makefile
  portal/Dockerfile
  portal/scripts/start.sh
Due: none

Frontend work to store username and permission level and moved out user info to redux to be accessed from different levels of nested components without prop drilling
  portal/.vscode/settings.json
  portal/src/App.test.tsx
  portal/src/App.tsx
  portal/src/Routes.test.tsx
  portal/src/Routes.tsx
  portal/src/redux/actions/global/index.test.ts
  portal/src/redux/actions/global/index.ts
  portal/src/redux/actions/global/types.ts
  portal/src/redux/middleware/persistenceAndRedirection.ts
  portal/src/redux/reducers/global.test.ts
  portal/src/redux/reducers/global.ts
  portal/src/redux/reducers/index.ts
  portal/src/redux/store.ts
  portal/src/services/__mocks__/auth.ts
  portal/src/services/__mocks__/github.ts
  portal/src/services/auth.test.ts
  portal/src/services/auth.ts
  portal/src/services/github.test.ts
  portal/src/services/github.ts
  portal/src/services/stateStorage.ts
Due: portal

Updates to check access token to return username
  api/pkg/auth/controller.go
  api/pkg/auth/controller_test.go
  api/pkg/auth/service.go
  api/pkg/auth/service_test.go
  api/pkg/serverless/handlers.go
  api/pkg/serverless/handlers_test.go
Due: api

Update README.md
  README.md
Due: none

Fixed a range of linting issues
  portal/package.json
  portal/src/App.tsx
  portal/src/components/ApiDefList/ApiDefList.tsx
  portal/src/components/CommitPanel/CommitPanel.test.tsx
  portal/src/components/CommitPanel/ConnectedCommitPanel.test.tsx
  portal/src/components/CommitView/CommitView.test.tsx
  portal/src/components/Header/ConnectedHeader.test.tsx
  portal/src/components/Notification/Notification.test.tsx
  portal/src/components/Notifications/ConnectedNotifications.test.tsx
  portal/src/components/Notifications/Notifications.test.tsx
  portal/src/components/SidebarNavigation/SidebarNavigation.tsx
  portal/src/hooks/useCollapsibleView.test.ts
  portal/src/hooks/useCollapsibleView.ts
  portal/src/pages/Editor/ConnectedEditor.tsx
  portal/src/pages/Editor/Editor.tsx
  portal/src/pages/ServiceView/ServiceView.test.tsx
  portal/src/pages/ServiceView/ServiceView.tsx
  portal/src/redux/middleware/demoModeInterceptor.test.ts
  portal/src/services/github.ts
  portal/src/utils/delay.ts
  portal/yarn.lock
Due: portal

Removed logo
  portal/src/components/Header/Header.tsx
  portal/src/logo.svg
Due: portal

Path conditions:
  portal: any of: portal/src
  api: any of: api/pkg
